body {
    font-family: Helvetica, Arial;
}

.clearfix{
    float: none;
    clear:both;
    text-decoration: none;
    list-style: none;
}

#content{
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ddd;
    background: #eee;
}
header{
    padding: 15px;
    background: #D32F2F;
}
.title-subtitle{
    float: left;
    border-bottom: 1px solid white;
    border-top:1px solid white;
    color: white;
    padding:20px;
    margin-left: -65px;
    padding-left:65px;
}
header h1, header p{
    margin:0px;
    margin-left: 15px;
}
header p{
    color: #eee;
}
header h1 a{
    text-decoration: none;
    color: white;
}

header h1 a:hover{
    text-decoration: underline;
}
header #logo{
    display: block;
    margin-top: 10px;
    width: 65px;
    float: left;


}

.btn-add-favorito{
    display: block;
    padding: 10px;
    float: right;
    margin-right: 30px;
    margin-top:5px;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px gray;
    color: #666;
    text-decoration: none;
    transition: all 300ms;
    cursor: pointer;
}

.btn-add-favorito:hover{
    background: white;
    color: #444;
}
#favoritos-list{
    padding: 0px;
    margin:0px;
}
.favorito-item{
    list-style: none;
    width: 31%;
    border:1px solid #ddd;
    height: 120px;
    float: left;
    padding-top:20px;
    padding-bottom: 20px;
    color: gray;
    background: white;
    margin: 10px;
}
.btn{
    font-size:13px;
    border: 1px solid #ccc;
    border-color: #1976d2;
    border-radius: 4px;
    border-shadow: 0px 0px 5px #ddd;
    padding:5px;
    text-decoration: none;
    color: white;
    background: #0074d9;
    cursor: pointer;
    margin-left: 6px;
}

.btn-editar{
    background: #0a0;
    border-color: #59a600;
}
.btn-eliminar{
    background: #E23237;
    border-color: #F54747;
}
.btn-default{
    background: #eaa615;
    border-color: #cc941c;
    color: white;
}
footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    color: grey;

}

.content-data{
    float: left;
    margin-left:20px;
}

.favorito-item h4{
    color: #444;
    margin:0px;
    padding: 0px;
    margin-top:5px;

}

.favorito-item .url{
    margin:0px;
    padding: 0px;
    height: 45px;
    margin-top:2px;
    overflow: hidden;

}

.favorito-box{
    border-radius: 5px;
    margin-left: 25px;
    background: white;
    border: 1px solid #ddd;
    width: 94%;
    margin-top:30px;
    padding: 20px;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom:20px;
    margin: 10px;

}

.loading{
    margin: 25px;
}
.seguro{
    height: 65px;
    position: absolute;
    background: #E23237;
    margin-top: -43px;
    border-radius: 4px;

}
.seguro > p{
    font-size:14px;
    margin-left:10%;
    color: white;
    width: 80%;
    vertical-align: middle;
    text-align: center;
}
.seguro > a{
    top: -5px;
    left:50%;

     position: relative;
}

